function Game.new 1
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 80
pop local 0
push constant 0
push constant 0
push constant 0
push local 0
call Tile.new 4
pop this 0
push constant 0
push local 0
push constant 0
push local 0
call Tile.new 4
pop this 1
push constant 0
push local 0
push local 0
add
push constant 0
push local 0
call Tile.new 4
pop this 2
push constant 2
push constant 0
push local 0
push local 0
call Tile.new 4
pop this 3
push constant 2
push local 0
push local 0
push local 0
call Tile.new 4
pop this 4
push constant 0
push local 0
push local 0
add
push local 0
push local 0
call Tile.new 4
pop this 5
push constant 2
push constant 0
push local 0
push local 0
add
push local 0
call Tile.new 4
pop this 6
push constant 0
push local 0
push local 0
push local 0
add
push local 0
call Tile.new 4
pop this 7
push constant 2
push local 0
push local 0
add
push local 0
push local 0
add
push local 0
call Tile.new 4
pop this 8
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
call square.dispose 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push pointer 0
call Game.drawAll 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.up 1
pop temp 0
push pointer 0
call Game.unMergeAll 1
pop temp 0
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.up 1
push argument 0
pop pointer 0
push this 0
push this 3
call Tile.canMergeWith 2
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Tile.double 1
pop temp 0
push this 3
push this 6
call Tile.takeValueOf 2
pop temp 0
push this 6
call Tile.del 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
call Tile.doesNotExist 1
push this 3
call Tile.doesNotExist 1
not
and
pop local 0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 3
call Tile.takeValueOf 2
pop temp 0
push this 3
push this 6
call Tile.takeValueOf 2
pop temp 0
push this 6
call Tile.del 1
pop temp 0
label IF_FALSE1
push this 0
call Tile.doesNotExist 1
push this 3
call Tile.doesNotExist 1
and
pop local 0
push local 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 6
call Tile.takeValueOf 2
pop temp 0
push this 6
call Tile.del 1
pop temp 0
label IF_FALSE2
label IF_END0
push constant 0
return
function Game.drawAll 0
push argument 0
pop pointer 0
push this 0
call Tile.draw 1
pop temp 0
push this 1
call Tile.draw 1
pop temp 0
push this 2
call Tile.draw 1
pop temp 0
push this 3
call Tile.draw 1
pop temp 0
push this 4
call Tile.draw 1
pop temp 0
push this 5
call Tile.draw 1
pop temp 0
push this 6
call Tile.draw 1
pop temp 0
push this 7
call Tile.draw 1
pop temp 0
push this 8
call Tile.draw 1
pop temp 0
push constant 0
return
function Game.unMergeAll 0
push argument 0
pop pointer 0
push this 0
push constant 0
call Tile.setMerge 2
pop temp 0
push this 1
push constant 0
call Tile.setMerge 2
pop temp 0
push this 2
push constant 0
call Tile.setMerge 2
pop temp 0
push this 3
push constant 0
call Tile.setMerge 2
pop temp 0
push this 4
push constant 0
call Tile.setMerge 2
pop temp 0
push this 5
push constant 0
call Tile.setMerge 2
pop temp 0
push this 6
push constant 0
call Tile.setMerge 2
pop temp 0
push this 7
push constant 0
call Tile.setMerge 2
pop temp 0
push this 8
push constant 0
call Tile.setMerge 2
pop temp 0
push constant 0
return
